---
import Ceremony from '../components/Ceremony.astro';
import Cover from '../components/Cover.astro';
import Date from '../components/Date.astro';
import Party from '../components/Party.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Boda T & S">
	<main>
		<Cover />
		<Date />
		<Ceremony />
		<Party />
	</main>
</Layout>
