---
import { Picture } from 'astro:assets';
import coverImg from '../assets/img/cover.jpg';
---
<div class="relative shadow w-full h-auto">
  <Picture src={coverImg} alt='Nos Casamos'/>
  <h1 class="text-allison absolute inset-x-0 bottom-1/3 flex items-center justify-center z-10 text-6xl">Nos Casamos!</h1>
</div>

