---
import Countdown from "./Countdown.astro";
---

<div
  class="flex flex-col items-center gap-10 py-10 bg-graygreen text-center"
>
  <div>
    <h2 class="text-4xl p-5">Tomás y Sol</h2>
    <p class="text-sm tracking-widest">SAVE THE DATE</p>
  </div>
    <h3 class="text-allison text-5xl">29 de Noviembre de 2025</h3>
    <Countdown />

  <a
    class="inline-block w-32 rounded-2xl border border-black bg-graygreen py-1 text-xs shadow-lg transition duration-200 ease-in-out hover:saturate-125"
    href="">CONFIRMAR ASISTENCIA</a
  >
</div>
